<div>

    <ww2a></ww2a>
    <ww2c user="{{ firstName }}"></ww2c>
    <ww2b user="dave"></ww2b>
    <ww2b user="hannah"></ww2b>

   <label>Colour for hello world </label><input type="text" ng-model="color" placeholder="Enter a color" />
    <hello-world color-attr="{{color}}"></hello-world>
    <jello-worlds></jello-worlds>

    <pre>$location.path() = {{$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre>

    <ww2></ww2>


</div>